.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 64px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@media only screen and (max-width: 414px) {
  .dataContainer {
    width: 90%;
  }
}

@media only screen and (min-width: 768px) {
  .dataContainer {
    max-width: 600px;
    width: auto;
  }
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  color: #f66b0e;
}

.bio {
  text-align: center;
  color: gray;
  margin-top: 16px;
  color: #f5f2e7;
}

.input {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.waveButton {
  cursor: pointer;
  margin-top: 16px;
  padding: 16px 8px;
  border: 0;
  border-radius: 5px;
  background: #2666cf;
  color: #f5f2e7;
  font-weight: bold;
  text-transform: uppercase;
}

.waveInput {
  margin-top: 16px;
  border-radius: 4px;
  padding: 16px 8px;
  background: #f5f2e7;
  border: 2px solid #f66b0e;
  color: #4f5963;
  transition: all 0.2s ease;
  resize: none;
}

.card {
  margin-top: 24px;
  max-height: 410px;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .card {
    width: auto;
    max-height: 530px;
    padding: 16px;
  }
}

.cardMessage {
  color: #f5f2e7;
  border: 2px solid #f66b0e;
  border-radius: 4px;
  padding: 16px;
  margin-bottom: 8px;
}

.cardMessage:last-child {
  margin-bottom: 0;
}

.cardMessage p {
  margin: 0;
  font-weight: bold;
  text-transform: uppercase;
}

.cardMessageAddress {
  margin: 12px 0;
}

@media only screen and (max-width: 414px) {
  .cardMessageAddress {
    font-size: 13px;
  }
}

.cardMessageDate {
  font-size: 11px;
  text-align: right;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 64px;
}

.footer a {
  color: #f5f2e7;
  text-decoration: none;
  transition: all 0.2s ease;
}

.footer a:hover {
  text-decoration: underline;
}